*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}
main{
    width:100%;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    background: #d0d0d0;
}
.left{
    width:130px;
    height:100%;
    border-right: 2px solid #fff;
    padding:30px 15px;
    box-sizing: border-box;
}
.right{
    height: 100%;
    position: absolute;
    top:0;
    left:132px;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
.top{
    width:100%;
    height:78px;
    border-bottom: 2px solid #ffffff;
}
.bottom{
    width:100%;
    position: absolute;
    bottom:0;
    top:80px;
    margin-top:auto;
    margin-bottom: auto;
    background: #ffffff;
}
.left>label{
    display:block;
    width:40px;
    height:40px;
    border:1px solid #333;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: 10px 5px 10px 4px;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
}
.left>label:hover{
    font-size: 24px;
    transition: 0.5s;
}
input{
    display:block;
    width:40px;
    height:40px;
    border:1px solid #333;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    margin: 10px 5px 10px 4px;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
}
label[active=true]{
    border-color:#ff6700;
}
canvas{
    box-sizing: border-box;

}
.mask{
    width:100%;
    height:100%;
    box-sizing: border-box;
    position: absolute;
    left:0;
    top:0;
    z-index: 999;
}
.eraser{
    width:20px;
    height:20px;
    border:1px solid #ff6700;
    position: absolute;
    left:0;
    top:0;
    display: none;
}
.top>p{
    font-size: 14px;
}
.top>label,.top>a{
    display:block;
    width:40px;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: 10px 5px 10px 4px;
    box-sizing: border-box;
    float: left;
    cursor: pointer;

}
.top>label:hover,.top>a:hover{
    font-size: 14px;
}
.clip{
    border:1px dashed #000;
    position: absolute;
    left:0;
    top:0;
    display: none;
    cursor:move;
}